{% extends 'base.html.twig' %}

{% block title %}Accueil - {{ parent() }}{% endblock %}

{% block body %}
			{# On affiche les messages si il y en a #}
			{% for label, messages in app.flashes(['home']) %}
				{% for message in messages %}
					<div class="flash-{{ label }}">
						{{ message }}
					</div>
				{% endfor %}
			{% endfor %}   

			{% include "Main/SectionHero.html.twig" %}

			<section id="produits" class="gg-acceuil-titre bg-primary">
				<h4>Nos produits </h4> 
			</section>

			{% include "Produit/produits.html.twig" %}

			{% include "Main/SectionValues.html.twig" %}

{% endblock %}  
