{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

			{% include "Main/hero.html.twig" %}

			<section class="nosProduits bg-primary">
				<h4>Nos produits </h4> 
			</section>

			{% include "Produit/produits.html.twig" %}

			{% include "Main/values.html.twig" %}

{% endblock %}
