			<!-- Début section Hero -->
			<section class="gg-hero">
				<div class="container-fluid h-100">
					<article>
						<div class="row h-100">
							<div class="col-12 col-md-6 d-flex align-items-center justify-content-center">
								<div class="container" style="width:362px;padding-auto;">
									<h1 class="mb-4">Bienvenue</h1>
									<p>Découvrez notre univers de produits durables et éthiques pour une consommation responsable.</p>
									<p>Retrouvez des articles d’hygiène & beauté, des accessoires & boissons et du prêt à porter</p>
								</div>
							</div>
							<div class="col12 col-md-6 p-0 m-0">
								<img src="images/mask group.png" alt="" height="751" class="w-100 image-fluid"/>
							</div>	
						</div>
					</article>
				</div>
			</section><!-- Fin Section HERO -->
