						<!-- Début section Hero -->
			<section class="gg-hero">
				<article>
					<div class="container-fluid text-start p-0 m-0">
						<div class="row row-cols-1 row-cols-md-2 p-0 m-0">
							<div class="col d-flex p-0 m-0 justify-content-center">
								<div class="align-self-center w-50"> 
									<h1>Bienvenue</h1>
									<p>Découvrez notre univers de produits durables et éthiques pour une consommation responsable.</p>
									<p>Retrouvez des articles d’hygiène & beauté, des accessoires & boissons et du prêt à porter</p>
								</div>
							</div>
							<div class="col p-0 m-0">
								<div class="d-flex mx-auto justify-content-end" style="max-width:731px;">
									<img src="{{ asset('images/hero_img.webp') }}" alt="gdfgdfg" class="w-100 gg-hero-image" />
								</div>
							</div>	
						</div>
					</div>  
				</article>
			</section><!-- Fin Section HERO -->	
			
	