			<section class="gg-values">
				<article class="bg1">
					<div class="container-fluid text-start p-0 m-0">
						<div class="row row-cols-1 row-cols-md-2 h-100 p-0 m-0">
							<div class="col d-flex p-0 m-0 justify-content-end p-5 ">
								<div class="align-self-end"> 
									<h2>NOTRE CONVICTION</h2>
									<p>
										Chez GreenGoodies, nous croyons en un monde où le commerce peut être synonyme de bien-être pour la planète et ses habitants. Notre mission est de vous proposer une sélection rigoureuse de produits qui allient qualité, durabilité et éthique.
									</p>								
								</div>
							</div>
							<div class="col p-0 m-0 h-100 d-flex justify-content-end">
								<div class="h-100" style="max-width:487px;">
									<img src="{{ asset('images/values_img_1.webp') }}" alt="Valeurs de Green Goodies" class="w-100 gg-values-image" />
								</div>
							</div>	
						</div>
					</div>  
				</article>

				<article class="bg2">
					<div class="container-fluid text-start p-0 m-0">
						<div class="row row-cols-1 row-cols-md-2 h-100 p-0 m-0">
							<div class="col p-0 m-0 h-100 d-flex justify-content-start">
								<img src="{{ asset('images/values_img_2.webp') }}" alt="Valeurs de Green Goodies" class="w-100 gg-values-image" />
							</div>
							<div class="col d-flex p-0 m-0 justify-content-start p-5 ">
								<div class="align-self-end"> 
									<h2>NOS VALEURS</h2>
									<p>
										Durabilité : Nous sélectionnons soigneusement des produits qui respectent l'environnement et favorisent la durabilité.<br/>
										Éthique : Nous nous engageons à travailler avec des partenaires et des fournisseurs qui partagent nos valeurs éthiques.<br/>
										Écologie : Nous encourageons des pratiques respectueuses de l'écosystème et privilégions les matériaux écologiques.
									</p>
								</div>
							</div>
						</div>
					</div>
				</article>
			</section><!-- Fin Section VALUES -->