			<!-- Début section VALUES -->
			<section class="gg-values">
				<article class="bg-secondary">
					<div class="container-fluid m-0 p-0 w-100 h-100">
						<div class="row m-0 p-0 w-100 h-100">
							<div class="col-12 col-md-6 col-lg-8 p-0 m-0 text-start align-self-end">
								<div class="mx-3 ps-4 pe-0 pb-4" style="width:425px;">
									<h2>NOTRE CONVICTION</h2>
									<p>
										Chez GreenGoodies, nous croyons en un monde où le commerce peut être synonyme de bien-être pour la planète et ses habitants. Notre mission est de vous proposer une sélection rigoureuse de produits qui allient qualité, durabilité et éthique.
									</p>
								</div>
							</div>
							<div class="col-12 col-md-6 col-lg-4 p-0">
								<img src="{{ asset('images/value_1_img.png')}}" alt="" height="646"class="w-100 image-fluid"/>
							</div>
						</div>
					</div>
				</article>

				<article class="bg-tertiary">
					<div class="container-fluid m-0 p-0 w-100 h-100">
						<div class="row m-0 p-0 w-100 h-100 d-flex">
							<div class="col-12 col-md-6 col-lg-4 m-0 p-0">
								<img src="{{ asset('images/value_2_img.png')}}" alt="Values 2" style="max-width:487px;object-fit: cover; bject-position: center;"/>
							</div>
							<div class="col-12 col-md-6 col-lg-8 p-0 m-0 d-flex text-start align-self-end justify-content-end">
								<div class="me-3 pe-4 pb-4" style="width:465px;">
									<h2>NOS VALEURS</h2>
									<p>
										Durabilité : Nous sélectionnons soigneusement des produits qui respectent l'environnement et favorisent la durabilité.<br/>
										Éthique : Nous nous engageons à travailler avec des partenaires et des fournisseurs qui partagent nos valeurs éthiques.<br/>
										Écologie : Nous encourageons des pratiques respectueuses de l'écosystème et privilégions les matériaux écologiques.
									</p>
								</div>
							</div>
						</div>
					</div>
				</article>

			</section><!-- Fin Section VALUES -->