{% extends 'base.html.twig' %}

{% block title %}Nos produits - {{ parent() }}{% endblock %}


{% block body %}
	{# On affiche les messages si il y en a #}
	{% for label, messages in app.flashes(['product']) %}
		{% for message in messages %}
			<div class="flash-{{ label }}">
				{{ message }}
			</div>
		{% endfor %}
	{% endfor %}   
	{% include "Produit/Produits.html.twig" %}
{% endblock %}
