
	html {
		font-size: 16px;		/* 1rem */
		font-family: "Inter", sans-serif;
		font-optical-sizing: auto;
		line-height: 150%;
		color: #333333;
		margin: auto;
		padding: 0;
		max-width:1440px;
		background-color:#FFFDF7;
	}

	/* COULEURS */
	.bg-primary {
		background-color:#FFFDF7 !important;	
	} 
	.bg-secondary {
		background-color:#EBE3D3 !important;	;	
	} 	
	.bg-tertiary {
		background-color:#E8F0E3 !important;	;	
	} 	
	.bg-account, .bg-cart {
		background-color: #F7F1EC;
	}
	
	.fw-bolder { font-weight: 600 !important}
	.fw-bold { font-weight: 500 !important }
	.fw-normal { font-weight: 400 !important }
	.fw-lighter { font-weight: 300 !important	}
	
/*			.fs-1 { font-size: 4rem !important}			
	.fs-2 { font-size: 1.875rem !important }			
	.fs-3 { font-size: 1.25rem !important	}			
	.fs-4 { font-size: 1.125rem !important }			
	.fs-5 { font-size: 1rem !important }			
	.fs-6 { font-size: 0.875rem !important }	
	.fs-7 { font-size: 0.75rem !important }
	.fs-8 { font-size: 0.625rem !important }    */	
	.fs-1 { font-size: 64px !important}			/* 64px */
	.fs-2 { font-size: 30px !important }		/* 30px */		
	.fs-3 { font-size: 20px !important	}		/* 20px */		
	.fs-4 { font-size: 18px !important }		/* 18px */		
	.fs-5 { font-size: 16px !important }		/* 16px */	
	.fs-6 { font-size: 14px !important }		/* 14px */
	.fs-7 { font-size: 12px !important }		/* 12px */
	.fs-8 { font-size: 10px !important }		/* 10px */
	
	/* titre (accueil -> produits) fs-5 fw-bolder (600 - 16px) */
	/* fs-6 fw-light (300 - 14px) */
	
	h1 { /* bienvenue (accueil) */
		font-size: 4rem ;
		font-weight: 500;
	}
	
	h2 { /* titre (inscription, connexion, produit, mon compte, mon panier) */
		font-size: 1.25rem;
		font-weight: 500;
	}
	
	h3 {
		font-size:1.125rem !important;
		font-weight:500;
	}

	h4 { /* Nos Produits (accueil) */
		font-size: 0.875rem !important;
		font-weight: 500;
	}

	h4.uppercase {
		text-transform: uppercase;
	}
				
	p { /* paragraphe */
		font-size: 0.875rem ;
		font-weight: 400;
		line-height: 120%;
	}
	
	p.prix { /* prix (produit) */
		font-size: 1.875rem;
		font-weight: 300
	}
	
	p.desc { /* description (produit) */
		font-size: 0.625rem;
	}
	
	/* Formulaire Custom */
	.custom-btn { /* Inscription (S'enregister) - Connexion (Se connecter) - Mon Panier (Valider la commande) - Mon compte (Activer) (Supprimer) */
		width: 29.93rem;
		height:4.815rem;
		background-color:#565656;
		border-color:#565656;
		border-radius:0;
		margin-bottom:1.8rem;
		color:#ffffff;
		transition-duration: 0.30ms;
		transition-timing-function: ease-out;
		transition-property: background-color;
		padding:30px 0;
		margin:0 auto;
	}

	.custom2-btn { /* Produit (Ajouter au panier) */
		width: 29.06rem;
	}
	
	.custom3-btn { /* Accueil (afficher produit) */
		width: 30rem;
		background-color: #FFFDF7;
		color: #000000 !important;
		border:0;
		height: 4.815rem;
		border-radius:0;
		transition-duration: 0.30s;
		transition-timing-function: ease-out;
		transition-property: background-color;
	}
	
	.custom-btn:hover , .custom-btn:focus, .custom-btn:active {
		background-color:#000000 !important;
		border:1px solid #000000 !important;
		color:#ffffff !important;
	}
	
	.custom3-btn:hover , .custom3-btn:focus, .custom3-btn:active {
		background-color:#333333 !important;
		border-color:#333333 !important;
		color:#FFFDF7 !important;
	}
	
	.customInput {
		width:29.93rem;
		height:4.1875rem;
		border:1px solid #666666;
		background:#FFFDF7;
		border-radius:0;
		margin-bottom: 1.8rem;
	}
	
	.customInput:focus, .customInput:active {
		border-color: #000000 !important;   
		box-shadow: none !important;
	}
	
	/* Style normal */
	.custom-check {
		width: 1.1875rem !important;
		height: 1.1875rem  !important;
		background-color: #ffffff;
		border: 1px solid #666666;
		border-radius: 0 !important;
		cursor: pointer;
		box-shadow: none !important;
		margin-right:0.5rem;
	}

	/* Hover */
	.custom-check:hover {
		border-color: #000000;
	}

	/* Focus (supprime le bleu Bootstrap) */
	.custom-check:focus {
		box-shadow: none !important;
		border-color: #000000;
	}

	/* Quand cochée */
	.custom-check:checked {
		background-color: #ffffff !important;
		border-color: #000000 !important;
	}

	/* Coche blanche */
	.custom-check:checked[type=checkbox] {
		background-image: url("../images/check.svg") !important;
		background-size: 0.9375rem 0.9375rem;
		background-repeat: no-repeat;
		background-position: center;
	}
	
	header {
		background:#FFFDF7;
		border-bottom: 1px solid #F6F5F0;
		width:100%;
	}
	
	header img {
		height: 1.25rem;
	}
	
	header .container {
		padding: 1.9375rem 100px;
		height: 5.06rem;
		max-width:1440px;
	}
	
	header nav {
		height:100%;
	}			
	
	header .navbar-nav a.nav-link {
		font-size: 0.875rem !important;
		font-weight: 400 !important;
		color:#333333 !important;
		margin-left:1.65rem !important;
		margin-right:1.65rem !important;
		transition-duration: 0.30s !important;
		transition-timing-function: ease-out !important;
		transition-property: color !important;
	}
		
	header .navbar-nav a:hover {
		font-size: 0.875rem !important;
		font-weight: 500 !important;
		color:#666666 !important;
	}			
	
	section a {
		text-decoration:underline;
		color:#666666;
		font-size:0.875rem;
		font-weight:400;
	}
	
	/********************/	
	/* 	Page Accueil 	*/
	/********************/	
	section.gg-hero {
		background:#E8F0E3;
		height:751px;
		width:100%;
	}
	section.gg-hero p { /* paragraphe HERO*/
		font-size: 1.125rem;
		font-weight: 300;
	}

	section.nosProduits {
		padding:30px 100px;
		height:81px;
		width:100%;
	}

	section.gg-values article {
		height:646px;
		width:100%;
	}
	section.gg-values .bg1 { background:#EBE3D3;}
	section.gg-values .bg2 { background:#E8F0E3;}

	/************/
	/* produitS */
	/************/
	section.gg-produits {
		background:#E8F0E3;
		width:100%;
	}
	.card {
		max-height:43.25rem;
		background:#FFFDF7;
		border:0 !important;
		text-align: center;
	}
	.card-img {
		max-width: 480px;
		height: 474px;
		object-fit: cover ;
		object-position: center;
		aspect-ratio: 1;
		border-radius: 0 !important;
	}
	.card-body {
		max-height:13.625rem;
		margin:0;
		padding:2.5rem 0rem 0rem 0rem;
		gap:1.25rem;
		flex-grow:0;
	}
	.card .desc {
		height:2.75rem;
		margin:0;
	}
	.card .desc h4 {
		font-weight:600;
		font-size:1rem;
		color:#000000;
		margin-bottom:0.5rem;
	}
	.card .desc p {
		font-weight:400;
		font-size:0.875rem;
		color:#666666;
	}
	.card h4 {
		font-weight:400;
		font-size:0.875rem;
		color:#333333;
		margin:0;
	}
	.card a {
		color:#ffffff;
		border-radius:0;
		padding:1.875rem 0;
		height:4.8125rem;
	}
	
	/* 	Page Connexion	*/
	section.gg-connexion {
		height:988px;
		width:100%;
		background:#FFFDF7;
	}
	
	/*	Page Inscription*/
	section.gg-inscription {
		height:1104px;
		width:100%;
		background:#FFFDF7;
	}
	
	/********************/
	/*	Page Produit	*/
	/********************/
	section.gg-product {
		min-height:907px;
		width:100%;
		background:#FFFDF7;
	}
	.gg-product-image {
		max-width:734px;
		max-height:686px;
		aspect-ratio: 1;
		object-fit: cover;
		object-position: center;
		border-radius: 0 !important;
	}

	.gg_product h2 {
		margin-top:2.43rem;
	}
	.gg_pproduct p.price {
		margin-top:1.5rem;	
	}
	.gg_product p.desc {
		margin-top:3.125rem;
	}

	.gg_product .row {
		min-height:686px;
	}
	
	/****************/
	/*	Page panier */
	/****************/
	section.gg-cart { /* Section panier */
		background-color: #F7F1EC;
	}
	.gg-cart .row {
		min-height:732px;
	}
	.gg-cart-container {
    	margin-bottom: 5px;
		max-width:604px;
		min-width:479px;
	}
	.gg-cart-title { /* titre de la page "Mon panier */
		margin-top:102px;
	}	
	a.gg-cart-empty { /* lien vider le panier */
		color:#666666;
		margin-bottom:17px;
		text-decoration:none;
	}	
	a.gg-cart-empty:hover {
		text-decoration:underline !important;
		font-weight:500;
	}
	.gg-cart-item { /* block Produit du panier */
		background: #FFFDF7;
		padding: 40px;
		margin-top:17px;
		margin-bottom: 5px;
		height:220px;
		overflow:visible;
	}
	.gg-cart-image { /* image du produit */
		width: 142px;
		height: 133px;
		object-fit: cover;
		object-position: center;
		margin-right:40px;
	}
	.gg-cart-info { /* bloc info */
		padding-left:15px;
		padding-top:32px;
	}

	.gg-cart-name { /* block info -> nom du produit */
		font-size:0.875rem;
		font-weight: 600;
	}
	.gg-cart-qty {/* block info -> quantite */
		font-size:0.875rem;
		font-weight:400
	}
	.gg-cart-actions .gg-btn-cart {
		width: 2rem;
  		font-size: 0.875rem;
  		padding: 0;
  		border: 1px solid #565656;
  		color: #565656;
	}
	.gg-cart-total { /* fs 14 / fw 500 */
		background: #FFFDF7B2;
		padding: 1rem 2rem;
		margin-bottom: 29px;
		opacity:0.7;
		max-width:604px;
		min-width:479px;
	}
	.gg-cart-total p {
		line-height: 150%;
	}
	.gg-cart-total span { /* fs 20 / fw 400 */
		font-size: 1.25rem;
		font-weight: 500;
	}
	.gg-cart-total small{
		font-size:0.75rem;
		font-weight:400;
	}
	.gg-cart-validOrder {
		max-width:604px;
		min-width:479px;
		text-align:center;
	}

	/****************/
	/*	Page panier */
	/****************/
	section.gg-account { 
		background-color: #F7F1EC;
	}
	.gg-account .mh-account {
		min-height:1147px;
	}
	.gg-account-container {
		margin-top:60px;
		max-width:604px;
		min-width:479px;
	}
	.gg-account .myOrders {
		margin-top:2rem;
		margin-bottom:1rem;
		background:#FFFDF7;
		padding: 60px;
		min-height: 489px;
	}
	.gg-account-orders-title { /* block titre colonne commande */
		height:1rem;
		margin-top:1.5rem;
		margin-bottom:1.25rem;
	}
	.gg-account-orders-info { /* block 1 ligne par commande */
		height:47px;
		margin-bottom:1.25rem;
		border-bottom:1px solid #cccccc;
	}
	.gg-account-validButton {
		background: #FFFDF7;
		max-width:604px;
		padding:60px;
		margin-bottom:15px;
		text-align:center;
	}
	.gg-account-validButton h4 {
		margin-bottom:2rem;
	}



	/************/	
	/*	FOOTER	*/	
	/************/	
	footer {
		background: #FFFFFF;
		border-bottom:1px solid #F6F5F0;
		width:100%;
		height:81px;
		padding:31px 100px;
	}
	footer p {
		width:347px;
		height:17px;
	}



