<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{% block title %}Green Goodies{% endblock %}</title>

		<!-- Google Font Inter -->
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
		
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body class="d-flex flex-column min-vh-100">
        <header>
		{% block header %}
			{% if is_granted('ROLE_USER') %}
				{% include 'menu/MenuConnecte.html.twig' %}
			{% else %}
				{% include 'menu/MenuDeconnecte.html.twig' %}
			{% endif %}
		{% endblock %}        
		</header>
		
 		<main class="w-100 flex-fill">
					{# On affiche les messages si il y en a #}
			{% for label, messages in app.flashes() %}
				{% for message in messages %}
					<div class="text-center w-100 bg-primary py-2">
					{% if label== 'erreur' %}
						<span class="badge text-bg-danger">{{ message }}</span>
					{%else%}
						<span class="badge text-bg-success">{{ message }}</span>
					{%endif%}
					</div>
				{% endfor %}
			{% endfor %}   
   
        {% block body %}{% endblock %}

        </main>


		<!-- Début FOOTER -->
		<footer class="clearfix w-100">
			<div class="container d-flex justify-content-end text-end">
				<p>© Green Goodies - 2026</p>
			</div>
		</footer><!-- Fin FOOTER -->
    </body>
</html>
