									<div class="myOrders fs-6 fw-normal">
										<h4 class="fw-bolder">Mes commandes</h4>
										<div class="d-flex flex-column">
                                            <div class="row text-center gg-account-orders-title"> <!-- ligne titre -->
                                                <div class="col-4 text-start">N°</div>
                                                <div class="col-5">Date</div>
                                                <div class="col-3 text-end">Prix</div>
                                            </div>
                                    {% if orders is empty %}
                                            <div class="row align-items-start fw-bold text-start gg-account-orders-info"> <!-- 1e ligne commande -->
                                                <div class="col-12 fw-bold">Vous n'avez pas de commandes</div>

                                            </div>                                    
                                    {% else %}
                                            {% for order in orders %}
                                            <div class="row align-items-start fw-bold text-start gg-account-orders-info"> <!-- 1e ligne commande -->
                                                <div class="col-4">{{order.reference }}</div>
                                                <div class="col-5 text-center">{{ order.createdat | date('d/m/Y') }}</div>
                                                <div class="col-3 text-end">{{(order.amount/100) | number_format(2,'.',' ') }}€</div>
                                            </div>
                                            {% endfor %}
                                    {% endif %} 
                                        </div>
                                    </div>  
