{% extends 'base.html.twig' %}

{% block title %}Mon compte - {{ parent() }}{% endblock %}

{% block header %}
    {% include 'menu/menu_connecte.html.twig' %}
{% endblock %}

{% block body %}
			<!-- Début section MONCOMPTE -->
			<section class="gg-account"> 
				<div class="container-fluid p-0 m-0">
					<article>
						<div class="row mh-account">
							<div class="col-1 col-lg-3"></div>

							<div class="col-10 col-lg-6 px-auto">
								<div class="gg-account-container">

    								<h2 class="gg-account-title text-center">Mon compte</h2>

									{% include "Order/orders_user.html.twig" %}

									<div class="gg-account-validButton">
										<h4 class="fw-bolder text-start d-block">Mon accès API</h4>
										<div class="d-flex">
											<a href="#" class="btn custom-btn mx-auto px-auto">Activer mon accès API</a>
										</div>
									</div>

									<div class="gg-account-validButton d-flex">
										<a href="#" class="btn custom-btn mx-auto px-auto">Supprimer mon compte</a>
									</div>
								</div>
							</div>

							<div class="col-1 col-lg-3"></div>
						</div>
					</article>
				</div>
			</section><!-- Fin Section MONCOMPTE -->

{% endblock %}