{% extends 'base.html.twig' %}

{% block title %}Mon compte - {{ parent() }}{% endblock %}

{% block header %}
    {% include 'menu/menu_connecte.html.twig' %}
{% endblock %}

{% block body %}
			<!-- Début section MONCOMPTE -->
			<section class="gg-compte bg-compte">
				<div class="container-fluid h-100">
					<article>
						<div class="row" style="height:1147px;">
							<div class="col-3 bg-compte"></div>
							<div class="col-6  bg-compte" style="padding: 45px 58px 0">
								<div>
									<h2 class="text-center">Mon compte</h2>
									{% include "Order/index.html.twig" %}
								</div>
								<div class="text-end" style="background: #FFFDF7;padding:60px;margin-bottom:15px;height:244px">
									<h4 class="text-start" style="font-size:14px;font-weight:600;margin-bottom:30px;">Mon accès API</h4> 
									<div class="d-flex p-0 m-0 justity-content-center">
										<a href="#" class="btn custom-btn mx-auto mb-0" style="color:#ffffff;border-radius:0;padding:30px 0">Activer mon accès API</a>
									</div>								
								</div>
								
								<div class="text-end" style="background: #FFFDF7;padding:60px;margin-bottom:77px;height:197px">
									<div class="d-flex p-0 m-0 justity-content-center">
										<a href="#" class="btn custom-btn mx-auto mb-0" style="color:#ffffff;border-radius:0;padding:30px 0">Supprimer mon compte</a>
									</div>
								</div>
							
							</div>
							<div class="col-3  bg-compte"></div>
						</div>
					</article>
				</div>
			</section><!-- Fin Section MONCOMPTE -->

{% endblock %}