{% extends 'base.html.twig' %}

{% block title %}Connexion - {{ parent() }}{% endblock %}

{% block header %}
    {% include 'menu/menu_deconnecte.html.twig' %}
{% endblock %}

{% block body %}
			<!-- Début section CONNEXION -->
			<section class="gg-connexion">
				<article class="h-100 w-100">
					<div class="container-fluid h-100 w-100">
						<div class="row h-100">
							<div class="col-12 col-md-6 p-0 ">
								<img src="{{ asset('images/connexion_img.png') }}" alt="Images" class="w-100 h-100 image_fluid"/>
							</div>
							<div class="col-12 col-md-6 mt-4 d-flex justify-content-center">
								<form class="w-75 px-4">
									<h2 class="my-5">Connexion</h2>
									<div class="mb-3">
										<label for="Email1" class="form-label fs-6">Adresse email</label>
										<input type="email" class="form-control customInput" id="Email1">
									</div>
									<div class="mb-3">
										<label for="Password" class="form-label fs-6">Mot de passe</label>
										<input type="password" class="form-control customInput" id="Password">
									</div>
									<button type="submit" class="btn  custom-btn">Se connecter</button>
									<div class="w-100 text-center">
										<a href="{{ path('app_gg_register') }}" class="fs-6 fw-normal">Pas encore de compte ? S'inscrire</a>
									</div>
								</form>
							</div>	
						</div>
					</div>
				</article>
			</section><!-- Fin Section CONNEXION -->

{% endblock %}